<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <!-- todo: change component all to bootstrap 4, So we can use more component -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Propeller card -->
    <!-- <link rel="stylesheet" type="text/css" href="css/card.css"> -->
    <link href="css/modal.css" type="text/css" rel="stylesheet" />
    <style>
        form {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }

        form button {
            width: 9%;
            background: rgb(130, 224, 255);
            border: none;
            padding: 10px;
        }
    </style>
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
    <script src="./js/jquery-1.11.1.js"></script>
    <script>
        $(function () {
            var socket = io.connect('http://localhost:8080');

            socket.on('connect', function () {
                console.log('Client has connected to the server!');
            });

            $('#studentform').submit(function () {
                socket.emit('attendance', {
                    name: "PROF" + $('#course-name').val(),
                    prof: $('#course-prof').val(),
                    absence: $('#course-absence').val(),
                });
                return false;
            });

            $('#classform').submit(function () {
                socket.emit('prof classes', {
                    name: $('#class-name').val(),
                    students: $('#class-students').val(),
                });
                return false;
            });
            $('.course-container').on('click', function(){
                var id_text = "PROF" + this.id
                socket.emit('attendance', {
                    id: id_text
                });
                console.log('mowsesxdxe')
            })
            //test socket for getting classes
            socket.on('prof classes', function (data) {
                $('#classList').append(
                    $('<div>').attr({
                        "data-toggle": "modal",
                        "data-target": "#classAttendanceSetting"
                    }).addClass('col-lg-3 col-md-4 col-sm-6').append(
                        $('<div>').addClass('card-img').append(
                            $('<div>').addClass('wrapper').append(
                                $('<div>').addClass('wrapper-text').append(
                                    $('<h4>').addClass("card-title").text(data.name),
                                    $('<h6>').addClass("card-title").text("دانش‌آموز: " + data.students +
                                        " نفر"),
                                )
                            )
                        )
                    )
                )
            });
            socket.on('attendance', function (data) {
                if (data.id.indexOf("STUDENT") > -1) {
                    removeCardById(data.id)
                    document.getElementById(data.name.substring(7)).remove()
                    $('#aStudentsList').append(
                        $('<div>').on("click", removeFromList).addClass(
                            'col-lg-4 col-md-6 col-sm-12 ltr').append(
                            $('<div>').addClass("card-img").append(
                                $('<div>').addClass("wrapper-img").append(
                                    $('<div>').addClass("content-img col-md-7").append(
                                        // $('<h5>').addClass("card-title").text(data.name.substring(7)),
                                        $('<h6>').addClass("card-title").text(data.student),
                                        $('<h6>').addClass("card-title").text(data.absence +
                                            ' غیبت')
                                    ),
                                    $('<div>').addClass("text-center col-md-5").append(
                                        $('<img>', {
                                            src: 'img/500x500.png'
                                        }).addClass('responsive-img')
                                    )
                                )
                            )
                        )
                    )
                }
            });
            // <div class="col-lg-4 col-md-6 col-sm-12">
            //         <div class="card-img">
            //             <div class="wrapper-img">
            //                 <div class="content-img col-md-7">
            //                     <h5 class="card-title">9121312</h5>
            //                     <h6 class="card-title">محمد علی احمدی خلجی</h6>
            //                     <h6 class="card-title">غیبت ۳</h6>
            //                 </div>
            //                 <div class="text-center col-md-5">
            //                     <img src="img/500x500.png" class="responsive-img">
            //                 </div>
            //             </div>
            //         </div>
            //     </div>

            socket.on('student of class', function (data) {
                $('#studentsList').append(
                    $('<div>').attr({
                        "id": data.name,
                        "data-toggle": "modal",
                        "data-target": "#classAttendanceSetting"
                    }).addClass('col-lg-3 col-md-4 col-sm-6').append(
                        $('<div>').addClass('card-img').append(
                            $('<div>').addClass('wrapper').append(
                                $('<div>').addClass('wrapper-text').append(
                                    $('<h4>').addClass("card-title").text(data.name),
                                    $('<h6>').addClass("card-title").text("تعداد غیبت: " + data.gheibat),
                                )
                            )
                        )
                    )
                )
            });
            socket.on('classes', function (data) {
                var x;
                for (x in data.classes) {
                    $('#classList').append(
                        $('<div>').on("click", addModal).addClass('col-lg-3 col-md-4 col-sm-6').append(
                            $('<div>').addClass('card-img').append(
                                $('<div>').addClass('wrapper').append(
                                    $('<div>').addClass('wrapper-text').append(
                                        $('<h5>').addClass("card-title").text(data.studentId),
                                        $('<h6>').addClass("card-title").text(data.name),
                                        $('<h6>').addClass("card-title").text(data.absence +
                                            ' غیبت')
                                    )
                                )
                            )
                        )
                    )
                }
            });
            // <div class="col-lg-3 col-md-4 col-sm-6">
            //         <div class="card-img">
            //             <div class="wrapper">
            //                 <div class="wrapper-text">
            //                     <h5 class="card-title">9121312</h5>
            //                     <h6 class="card-title">محمد علی احمدی خلجی</h6>
            //                     <h6 class="card-title">غیبت ۳</h6>
            //                 </div>
            //             </div>
            //         </div>
            //     </div>
        });
        function addTOClassList(data) {
            $('#classList').append(
                $('<div>').attr({
                    "id": data.course_id,
                    "data-toggle": "modal",
                    "data-target": "#classAttendanceSetting"
                }).addClass('col-lg-3 col-md-4 col-sm-6').append(
                    $('<div>').addClass('card-img').append(
                        $('<div>').addClass('wrapper').append(
                            $('<div>').addClass('wrapper-text').append(
                                $('<h4>').addClass("card-title").text(data.course_name),
                            )
                        )
                    )
                )
            )
        }

        function startAttendance() {
            $('#classAttendanceSetting').modal('toggle');
            console.log('–––––––––––Attendance starting!–––––––––––––');

            socket.emit('attendance', {
                name: "PROF" + $('#course-name').val(),
                prof: $('#course-prof').val(),
                absence: $('#course-absence').val(),
            });
            console.log('–––Attend request send to Students')
        }

        function detailsAPICall() {
            var time = $('#exampleFormControlSelect1').val() * 60 * 1000;

            $.post('/mediator', {
                'time': time,
                'course_id': 4
            }, function (students, status) {
                // console.log(students.students_details)
                console.log(students)
                if (students.error !== null) {
                    console.log('–––––––––––––––––––––––––––––––––––––––datailAPI–error')
                    alert('Error in calling course detail!')
                    
                } else {
                    console.log('datailAPI is ok!')
                    var studentsDetails = students.students_details
                    for (i in studentsDetails) {
                        console.log(studentsDetails[i])
                        addStudent(studentsDetails[i]);
                    }
                }
            });
        }

        function addStudent(student) {
            var id = "student_" + student.id
            $('#studentsList').append(
                $('<div>').attr({
                    "id": id,
                }).on('click', removeFromList).addClass('col-lg-3 col-md-4 col-sm-6').append(
                    $('<div>').addClass('card-img').append(
                        $('<div>').addClass('wrapper').append(
                            $('<div>').addClass('wrapper-text').append(
                                $('<h4>').addClass("card-title name").text(student.full_name),
                                $('<h6>').addClass("card-title").text("تعداد غیبت: " + student.absence_count),
                            )
                        )
                    )
                )
            )
        }

        function removeFromList() {

            var name = $('#username').text()
            console.log('name: ', username)

            socket.emit('removedStudent', {
                teacher: name,
                id: this.id
            });
            console.log('id: ', this.id)
            $(this).remove();
        }

        function removeCardById(id) {
            $(`#${id}`).remove();
        }

        function removeCard() {
            $(this).remove();
        }

        function classAdding() {
            $('#classList').append(
                $('<div>').on("click", addModal).addClass('col-lg-3 col-md-4 col-sm-6').append(
                    $('<div>').addClass('card-img').append(
                        $('<div>').addClass('wrapper').append(
                            $('<div>').addClass('wrapper-text').append(
                                $('<h5>').addClass("card-title").text($('#class-name').val()),
                                $('<h6>').addClass("card-title").text($('#class-students').val()),
                            )))))
        }
        // var course_id = null
        // $('.course-container').on('click',function(){
        //     console.log($(this));
        //     course_id = $(this).id;
        // })
        </script>
    <div class="container" id="messages">
        <div id="classAttendanceSetting" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="classSettingTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">حضور کلاسی</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="students">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">زمان حضور و غیاب</label>
                            <select class="form-control rtl" id="exampleFormControlSelect1">
                                <option value="5">۵ دقیقه</option>
                                <option value="10">۱۰ دقیقه</option>
                                <option value="15">۱۵ دقیقه</option>
                                <option value="30">۳۰ دقیقه</option>
                                <option value="60">۱ ساعت</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer ltr">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بازگشت</button>
                        <span></span>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="detailsAPICall()">شروع</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- <div class="col-sm-12">
            <form class="sendform" id="studentform">
                <input id="course-name" autocomplete="off" placeholder="name" />
                <input id="course-prof" autocomplete="off" placeholder="student-name" />
                <input id="course-absence" autocomplete="off" placeholder="absence" />
                <button>Send</button>
            </form>
        </div>
        <div class="col-sm-12">
            <form class="sendform" id="classform">
                <input id="class-name" autocomplete="off" placeholder="class name" />
                <input id="class-students" autocomplete="off" placeholder="number of students" />
                <button>Send</button>
            </form>
        </div> -->

        <div class="topbar" id=<%= user_id %> >
            <h3 id="username" style="text-align: center">خوش آمدید،
                <%= username %>
            </h3>
        </div>
        <hr>
        <br>
        <h3 class="sectionTitle">کلاس های شما</h3>
        <hr>
        <div class="row rtl" id="classList">
            <% for(var i=0; i<courses.length; i++) {%>
                    <!-- <div>').attr({ "data-toggle": "modal", "data-target": "#classAttendanceSetting" }).addClass('col-lg-3
                                col-md-4 col-sm-6').append( $('
                                <div>').addClass('card-img').append( $('
                                    <div>').addClass('wrapper').append( $('
                                        <div>').addClass('wrapper-text').append( $('
                                            <h4>').addClass("card-title").text(data.name), $('
                                                <h6>').addClass("card-title").text("دانش‌آموز: " + data.students + " نفر"), )
                                                    ) ) ) -->
                    <div class="col-lg-3 col-md-4 col-sm-6 course-container" data-toggle="modal" data-target="#classAttendanceSetting" id=<%= "course_"+courses[i].course_id %>>
                        <div class="card-img">
                            <div class="wrapper">
                                <div class="wrapper-text">
                                    <h6 class="card-title"><%= courses[i].course_name %></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } %>
        </div>
        <br>
        <h3 class="sectionTitle">لیست دانش‌آموزان</h3>
        <hr>
        <div class="row rtl" id="aStudentsList"></div>
        <div class="row rtl" id="studentsList"></div>

        <script>
            //for sticky topbar
            window.onscroll = function () {
                myFunction()
            };

            var topbar = $(".topbar");
            var sticky = topbar.offsetTop;

            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    topbar.classList.add("sticky")
                } else {
                    topbar.classList.remove("sticky");
                }
            }
        </script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
    </div>
</body>


</html>